.btn{
  background-color: #34495E;
  font-size: 17px;
  padding: 12px 18px;
  color: #FFF;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  display: block;
}

.btn:hover{
  background-color: #321;
}